app-card {
  height: 25rem;
  width: 15rem;
  cursor: pointer;
}

img {
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.summary {
  padding-inline: 2rem;
}

.summary p {
  margin: 0;
  line-height: 1.5;
}
